@page "{id:int?}"
@model Programare_medic.Pages.Spitale.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<div class="cutie" class="table" class="cutie" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">

<h1>SPITALE:</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spital[0].DenumireSpital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.SpitalData.Spitale) 
    {
            string selectedRow = "";
            if(item.ID == Model.SpitalID)
            {
                selectedRow = "table-success";
            }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.DenumireSpital)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.SpitalData.Servicii != null)
{
    <h3>Servicii din cadrul unui spital:</h3>
    <table class="table">

        @foreach (var item in Model.SpitalData.Spitale)
        {
            string selectedRow = "";
            if (item.ID == Model.SpitalID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Servicii)
                        {

                            @b.Denumire_Serviciu @: @b.Medic.NumeComplet

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

