@page
@model Programare_medic.Pages.Pacienti.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<div class="cutie" class="table" class="cutie" data-aos="fade-right" data-aos-duration="2000">

<h1>PACIENȚI:</h1>
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Varsta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pacient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Varsta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>