@page "/"
@model Programare_medic.Pages.Servicii.IndexModel

@{
    ViewData["Denumire_Serviciu"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Denumire_Serviciu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Medic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Cost_consultatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Data_Programare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Spital.DenumireSpital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].ServiciuSectii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiciuD.Servicii) {
            string selectedRow = "";
            if (item.ID == Model.ServiciuID)
            {
                selectedRow = "table-success";
            }

            <tr class="@selectedRow">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire_Serviciu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost_consultatie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Programare)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spital.DenumireSpital)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
